.text-input {
    display: flex;
  flex-direction: row;
  justify-content:flex-start;
  width: 100vw;
  }

input {
    background-color: black;
    color: white;
    position: absolute;
    top: 90vh; left: 15vw;
    width: 65vw;
    height: 5vh;
    border: 1px solid white;
    border-radius: 30px;
    outline: none;
    padding-left: 1vw;
}


button {
    background-color: white;
    color: black;
    position: absolute;
    top: 90vh; right: 18vw;
    width: 5vh;
    height: 5vh;
    border: 1px solid white;
    border-radius: 30px;
    background: url(./arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  }

